{% extends 'conteudo.html' %}
{% load custom_filters %}
{% load static %}

{% block 'cabecalho' %}
<script src="https://sdk.mercadopago.com/js/v2"></script>
<script>
    const mp = new MercadoPago('TEST-2cfc894d-c981-40c3-939b-2b706c7b731d');
</script>
{% endblock %}
{% block 'principal_1' %}
<script>
    var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>


<div class="row">
    <h2 style="margin-left: 3%;">Seu Carrinho</h2>
    <div class="col-md-8">
        {% for produto, quantidade in produtos_no_carrinho %}
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">{{ produto.descricao }}</p>
                    <p class="card-text"><strong>Quantidade:</strong> {{ quantidade }}</p>
                    <p class="card-text"><strong>Preço unitário:</strong> R$ {{ produto.valor_venda }}</p>
                    <p class="card-text"><strong>Preço total:</strong> R$ {{ produto.valor_venda|mul:quantidade }}</p>
                    <form action="{% url 'carrinho' %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <input type="hidden" name="produto_id" value="{{ produto.id }}">
                        <input type="hidden" name="quantidade_atual" value="{{ quantidade }}">
                        <button type="submit" name="remover_carrinho" class="btn btn-sm btn-warning">-</button>
                        <input type="hidden" name="adicionar_carrinho" value="{{ produto.id }}">
                        <button type="submit" class="btn btn-sm btn-success">+</button>
                    </form>  
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="col-md-4">
        <p><strong>Valor Total do Carrinho:</strong> R$ <span id="valor_total_carrinho">{{ valor_total }}</span></p>
        <p><strong>Total de itens:</strong> {{ request.session.cart|length }}</p>
        <form action="{% url 'pagamento' %}" method="post" id="form-pagamento">{% csrf_token %} 
            <div class="form-group">
                <label for="cep">DIGITE SEU CEP PARA CALCULAR A ENTREGA</label>
                <input type="text" class="form-control" id="cep" name="cep" required>
            </div>
            <div class="container">
                <div id="delivery-options" class="row"></div>
            </div>
       
            <br>
            <p style="color: black;" id="valor-entrega"></p>
            <button type="submit" class="btn btn-secondary" id="btn-pagamento" disabled>IR PARA O PAGAMENTO</button>
        </form>
    </div>
</div>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function(){
        $('#cep').keyup(function(){
            var cep = $(this).val();
            cep = cep.replace(/\D/g, '');
            if (cep.length === 8) {
                // Faça a solicitação AJAX para a view do Django
                $.ajax({
                    url: "{% url 'calcular_frete_melhor_envio' %}",
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken // Inclui o token CSRF no cabeçalho da requisição
                    },
                    data: JSON.stringify({'cep_destino': cep}),
                    dataType: 'json',
                    success: function(response){
                        console.log(response);
                        // Aqui você pode manipular a resposta da API, por exemplo, atualizando a interface com o valor do frete
                    },
                    error: function(xhr, errmsg, err){
                        console.log(xhr.status + ": " + xhr.responseText);
                        // Lide com erros de solicitação aqui
                    }
                });
            }
        });
    });
    </script>       


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        var cepValido = false;

        // Função para verificar se o CEP é válido
        function validarCEP(cep) {
            cep = cep.replace(/\D/g, '');
            return cep.length === 8;
        }


        // Função para carregar as opções de entrega
        function loadDeliveryOptions(cep_destino) {
            $.ajax({
                url: "{% url 'calcular_frete_melhor_envio' %}",
                type: "POST",
                contentType: "application/json",
                headers: {
                    'X-CSRFToken': csrftoken // Inclui o token CSRF no cabeçalho da requisição
                },
                data: JSON.stringify({"cep_destino": cep_destino}),
                success: function(response) {
                    // Limpar as opções de entrega existentes
                    $("#delivery-options").empty();

                    // Iterar sobre as opções de entrega e criar uma lista
                    var listHtml = "<ul class='list-group'>";
                    response.forEach(function(option) {
                        listHtml += "<li class='list-group-item'>";
                        listHtml += "<div class='form-check'>";
                        if (!option.error) {
                            listHtml += "<input class='form-check-input' type='checkbox' value='' id='option-" + option.id + "' data-id='" + option.id + "'>";
                            listHtml += "<label class='form-check-label' for='option-" + option.id + "'>";
                            listHtml += "<h5 class='mb-1'>" + option.name + "</h5>";
                            listHtml += "<p class='mb-1'>Preço: " + option.currency + " " + option.price + "</p>";
                            listHtml += "<p class='mb-1'>Tempo de entrega: " + option.delivery_time + " dias</p>";
                        }
                        listHtml += "</label></div></li>";
                    });
                    listHtml += "</ul>";

                    // Adicionar a lista de opções de entrega ao elemento com o id "delivery-options"
                    $("#delivery-options").append(listHtml);

                    // Adicionar evento de clique para os checkboxes
                    $('.form-check-input').click(function() {
                        // Desmarcar todos os outros checkboxes
                        console.log('Opção selecionada:', $(this).data('id'));
                        $('.form-check-input').not(this).prop('checked', false);
                        // Verificar se algum checkbox está selecionado
                        // Verificar se o checkbox atual está marcado
                        if ($(this).prop('checked')) {
                            // Se estiver marcado, manter ou definir o data-id
                            $(this).attr('data-id', $(this).data('id'));
                        } else {
                            // Se não estiver marcado e nenhum outro estiver selecionado, remover o data-id
                            if ($('.form-check-input:checked').length === 0) {
                                $(this).removeAttr('data-id');
                            }
                        }
                        atualizarBotaoPagamento()

                    });
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        }

        function verificarOpcaoEnvioSelecionada() {
    return $('#delivery-options .form-check-input:checked').length > 0;
}



// Habilitar ou desabilitar o botão de pagamento com base na validade do CEP e na seleção de uma opção de envio
function atualizarBotaoPagamento() {
    if (cepValido &&verificarOpcaoEnvioSelecionada()) {
        console.log("Opção de envio selecionada:", verificarOpcaoEnvioSelecionada());
        $('#btn-pagamento').prop('disabled', false);
    } else {
        $('#btn-pagamento').prop('disabled', true);
    }
    
}


        // Chamar a função quando um novo CEP for digitado
        $("#cep").keyup(function() {
            var cep = $(this).val();
            cepValido = validarCEP(cep);
            atualizarBotaoPagamento();
            if (cepValido) {
                loadDeliveryOptions(cep);
            } else {
                $("#delivery-options").empty(); // Limpar as opções de entrega se o CEP for inválido
            }
        });
    });
    
</script>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Função para processar a seleção do frete
        // Função para atualizar o valor total do carrinho
        function atualizarValorTotalCarrinho(valorFrete) {
            var valorTotalCarrinho = valorFrete;
            $('#valor_total_carrinho').text(valorTotalCarrinho.toFixed(2));
        }
        function processarSelecaoFrete(cepDestino, freteSelecionado) {
            
            console.log('Enviando dados para o servidor:', JSON.stringify({'cep_destino': cepDestino, 'frete_selecionado': freteSelecionado}));
            $.ajax({

                url: "{% url 'processar_selecao_frete' %}",
                type: "POST",
                dataType: 'json',
                headers: {
                    'X-CSRFToken': csrftoken // Inclui o token CSRF no cabeçalho da requisição
                },
                data: JSON.stringify({'cep_destino': cepDestino, 'frete_selecionado': freteSelecionado}),
   
                
                success: function(response) {
                    if ('valor_frete' in response) {
                        atualizarValorTotalCarrinho(response.valor_frete)
                        console.log('Frete selecionado processado com sucesso:', response.valor_frete);
                        // Faça o que for necessário após o processamento bem-sucedido do frete
                    } else {
                        console.error('Erro ao processar seleção do frete:', response.error);
                        // Lidar com erros de processamento do frete
                    }
                },
                error: function(xhr, errmsg, err) {
                    console.error(xhr.status + ": " + xhr.responseText);
                    // Lide com erros de solicitação aqui
                }
            });
        }

        var cepValido = false;
        function validarCEP(cep) {
            cep = cep.replace(/\D/g, '');
            return cep.length === 8;
        }


        $(document).on('change', '.form-check-input', function() {
            console.log('Evento de mudança acionado');
            var freteSelecionado = $(this).attr('data-id');
            
            var freteSelecionadoId = parseInt(freteSelecionado);
            var cep = $('#cep').val(); 
            cepValido = validarCEP(cep);

            if (cepValido) {
                processarSelecaoFrete(cep, freteSelecionadoId);
            }
        });
    });
</script>


{% endblock %}