@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@font-face {
    font-family: 'Telegraf';
    src: url('../fonts/Telegraf UltraLight 200.otf') format('opentype');
    font-weight: normal;
    font-style: normal;  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Telegraf400';
    src: url('../fonts/Telegraf Regular 400.otf') format('opentype');
    font-weight: normal;
    font-style: normal;  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: 'Telegraf800';
    src: url('../fonts/Telegraf UltraBold 800.otf') format('opentype');
    font-weight: normal;
    font-style: normal;  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.searchbar {
    margin-bottom: 2%;
    margin-top: auto;
    background-color: rgba(200, 200, 200, 0.1);
    border-radius: 20px;
    
}
/* Remover contorno azul ao clicar */
.search_input:focus,
.search_input:active {
    border-color: #ced4da; /* Cor da borda quando focado */
    box-shadow: none; /* Remove sombra ao clicar */
    outline: none; /* Remove contorno ao clicar */
}

.search_input1:focus,
.search_input1:active {
    border-color: #ced4da; /* Cor da borda quando focado */
    box-shadow: none; /* Remove sombra ao clicar */
    outline: none; /* Remove contorno ao clicar */
}

.search_input {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: #ffffff;
    border: 0;
    outline: none; /* Remove o contorno ao focar */
    background: none;
    flex: 1; /* Permite que a entrada de texto ocupe o espaço restante */
    
}

.search_button {
    border-radius: 0 20px 20px 0; /* Bordas arredondadas apenas no canto direito */
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: rgba(200, 200, 200, 0);
    transition: background-color 0.3s;
}

.search_button:hover,
.search_button:focus {
    background-color: #FF0072 /* Altera a cor de fundo ao passar o mouse ou focar */
}
::placeholder {
    color: #ffffff8c !important;
}

@media (max-width: 576px) {
    .search_input {
        width: auto; /* Ajusta a largura automaticamente em dispositivos menores */
    }
}


    .logocab {
        font-family: "Poppins", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #FFFFFF;      
        }
        .logocab400 {
            font-family: 'Telegraf400', sans-serif;
            color: #FFFFFF;      
            }
            .logocab800 {
                font-family: 'Telegraf800', sans-serif;
                color: #FFFFFF;      
                }
body {
        background-image: url('../img/back.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed; 
        
    }

    .font_pega{
        font-family: "Poppins", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; 
        color: #FFFFFF !important;      
        
    }


    .container-personalizado {
        
        max-width: 80%;
        margin: 0 auto;  
        padding-bottom: 1%;
        
    }
    .container-personalizado_1 {
          /* Add the blur effect */


        max-width: 80%;
        margin: 0 auto;
        /*box-shadow: 0 8px 16px rgba(61, 59, 64, 0.2);*/
        background-color: #313535be; 

    }


    .container-personalizado_1_blur {
        padding: 1%;
        background-color: rgba(255, 255, 255, 0.3); /* Cor de fundo rosa pálido com transparência */
        backdrop-filter: blur(20px); /* Efeito de borrão */
        -webkit-backdrop-filter: blur(20px); /* Efeito de borrão para navegadores baseados em WebKit */
        
        border-radius: 20px;
    

  }

    .quadrado_deixa_imagem_mesmo_tamanho {
    width: 100%; /* Ocupa 100% da largura do contêiner pai */
    padding-top: 60%; /* Cria um quadrado ao definir a altura como a mesma porcentagem da largura */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 6%;    
    border: 0px solid #1111112d;
  
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;

   

    
}

    .card-title-hover:hover {
        cursor: pointer;
        text-decoration: none !important;
    }

    .custom-pagination .page-item {
        display: inline-block;
       
        line-height: 1.5;
    }

    .custom-pagination .page-link {
        position: relative;
        display: block;
        font-family: "Poppins", sans-serif; 
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: -1px;
        line-height: 1.25;
        color: #ffffff;
        background-color: #1111112d;
        border-color: #1111112d;
    }

    .custom-pagination .page-link:hover {
        color: #ffffff;
        text-decoration: none;
        background-color: #21252900;
        border-color: #1111112d;
    }

    .custom-pagination .page-item.active .page-link {
        z-index: 3;
        color: #ffffff8c;
        background-color: #21252900;

    }

    .custom-pagination .page-item.disabled .page-link {
        color: #ffffff;
        pointer-events: none;
        cursor: auto;
        background-color: #1111112d;
        border-color: #1111112d;
    }

    .custom-pagination .page-link:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem #1111112d;
    }

    .clamp-lines {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 3.6em;
    }
    .linha-cinza {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background: linear-gradient(to right, transparent, #F5F40048, #fe009d48, #F5F40048, transparent);
        margin-top: 5px; /* Ajuste conforme necessário para espaçamento */
        backdrop-filter: blur(4px); /* Adiciona um efeito de desfoque */
    }

        .linha-cinza1 {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background: #2e384013;
    }
    
    .card {
        padding: 4%;
        font-family: "Poppins", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: rgba(255, 255, 255, 0);
        border-radius: 0%;
        border-color: rgba(200, 200, 200, 0);
        margin-bottom: 8%;
        border-radius: 20px;
        

}
/*
.card:hover {
box-shadow: 0 8px 16px rgba(61, 59, 64, 0.2); 
border: 1px solid #EA229962;

}*/


.font_pega1{
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        color: #FFFFFF !important;   
    }


    .css-z4m310 {
        color: #ffffff;
        }

.css-z4m310:hover {
/*border-bottom: 2px solid #ffffff8c;
margin-bottom: -20px;*/

color: #ffffff8c; /* Cor do texto para o item ativo */
transition: all 0.2s ease 0s;
}
.css-z4m310:focus,
.css-z4m310:focus-within {
    color: #ffffff;
}


.nav-item.active .nav-link {
    color: #dfdbdb; /* Cor do texto para o item ativo */
}

.navbar-nav .nav-item {
margin-right: 10px; /* Ajuste a quantidade de margem conforme necessário */
}
/*.preto-branco{
filter: grayscale(100%);
}*/


.item-count {
font-family: 'Telegraf-Font', sans-serif;
background-color: #ffffff30; /* cor de fundo do número */
color: #fff; /* cor do texto do número */
border-radius: 8px; /* ajuste conforme necessário para tornar a borda mais redonda */
padding: 1px 4px; /* ajuste conforme necessário para reduzir o tamanho do padding */
position: absolute; /* posição absoluta para que possamos posicionar */
font-size: 10px; /* ajuste o tamanho da fonte conforme necessário */
margin-left: 2px; 
}


.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Garante que o ícone esteja sempre acima de outros elementos */
    transition: opacity 0.3s; /* Adiciona uma transição suave */
}

.whatsapp-icon:hover {
    opacity: 0.8; /* Reduz a opacidade quando o mouse passa sobre o ícone */
}

.whatsapp-icon i {
    color: #25D366; /* Cor verde do WhatsApp */
}