{% extends 'conteudo.html' %}
{% load static %}
{% block 'cabecalho' %}
<link href="{% static 'cadastro.css' %}" rel="stylesheet">
{% endblock %}
{% block 'principal_1' %}
<div class="bg1">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="box-titulo">
                    <div class="box-titulo-item">
                    </div>
                    <div style="margin-top: auto; margin-bottom: auto;" class="box-titulo-item">
                        <h3 class="logocab" style="font-size: 20px;letter-spacing: 1px; color: #111111;">Bem-vindo!</h3>
                    </div>
                </div>
                <hr class="divisor">
                <br>
                <div class="text-center">
                    <h4 class="logocab" style="font-size: 30px;letter-spacing: 1px; color: #111111;">Sua plataforma
                        online<br> Entre com suas credenciais para acessar sua conta.</h4>
                </div>
            </div>
            <div class="col-md">
                <br>
                <br>
                <div class="box-form">
                    <div class="box-circle">
                        <div class="circle c1"></div>
                        <div class="circle c2"></div>
                        <div class="circle c3"></div>
                    </div>
                    <br>

                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}}" role="alert">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleDropdownFormEmail1" class="form-label">Nome de usuário</label>
                            <input type="text" class="form-control search_input1" name="username"
                                id="exampleDropdownFormEmail1" placeholder="email@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="exampleDropdownFormPassword1" class="form-label">Senha</label>
                            <input type="password" class="form-control search_input1" name="senha"
                                id="exampleDropdownFormPassword1" placeholder="Senha">
                        </div>
                        <br>

                        <button type="submit" class="btn btn-block logocab"
                            style="font-size: 20px; background-color: #FF0072; backdrop-filter: blur(20px); -webkit-backdrop-filter: blur(20px);letter-spacing: 1px;"
                            href="/MonteSeuComputadorApp/monteseucomputador/" role="button">Entrar</button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock 'principal_1' %}